<!DOCTYPE html>
<html lang="en" ng-app="calculadora">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <title>Calculadora</title>
</head>
<body ng-controller="CalculadoraCtrl">
    <input ng-model="operacionParcial"><br>
    <input ng-model="resultado"><br>
    <button ng-click="valor(1)">1</button>
    <button ng-click="valor(2)">2</button>
    <button ng-click="valor(3)">3</button>
    <button ng-click="valor('+')">+</button>
    <br>
    <button ng-click="valor(4)">4</button>
    <button ng-click="valor(5)">5</button>
    <button ng-click="valor(6)">6</button>
    <button ng-click="valor('-')">-</button>
    <br>
    <button ng-click="valor(7)">7</button>
    <button ng-click="valor(8)">8</button>
    <button ng-click="valor(9)">9</button>
    <button ng-click="valor('*')">*</button>
    <br>
    <button ng-click="valor(0)">0</button>
    <button ng-click="reset()">C</button>
    <button ng-click="valor('/')">/</button>
    <button ng-click="igual()">=</button>
 </body>
</html> 